<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Mama Mia Restaurant</a>
        <link rel="icon" type="img/jpg" href="./assets/img/mia.jpg">
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="products" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="add" class="nav-link">Add Pizza Item</a>
            </li>
        </div>
    </nav>
</div>
<div class="container mt-3">
    <router-outlet></router-outlet>
</div>
